/*Principal*/
#sidenav-overlay {
  position: static;
}

.titulo-main {
  font-size: 70px;
  font-weight: 600;
}
.second-text-main{
  font-weight: bold;
}
.text-center {
  text-align: center;
}
.text-just {
  text-align: justify;
}
.text-min {
  text-transform: lowercase;
}
.directions {
  border-bottom: 2px solid green;
}
/*Header*/
.logo {
  z-index: 2;
}

.logo-mobile {
  width: 100%;
  margin-bottom: 80px;
}
.logo-mobile a img {
  margin: 0 auto;
  display: flex;
}
/*main*/
.bac1 {
  background-image: url(../src/fondo02copia.JPG);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.bac2 {
  background-image: url(../src/fondo01.JPG);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  transition:filter 0.4s;
  -webkit-transition:-webkit-filter 1s;
  background-size: cover;
}

.bac3 {
  background-image: url(../src/fondo02.JPG);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  filter: grayscale(20%);
  -webkit-filter: grayscale(20%);
  transition:filter 0.4s;
  -webkit-transition:-webkit-filter 1s;
  background-size: cover;
}

.bac4 {
  background-image: url(../src/fondo03.JPG);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  filter: grayscale(20%);
  -webkit-filter: grayscale(20%);
  transition:filter 0.4s;
  -webkit-transition:-webkit-filter 1s;
  background-size: cover;
}

.caption-main {
  margin-top: 12% !important;
}

.caption-main h1, p {
  text-transform: uppercase;
}

.caption-main p {
  font-size: 20px;
}

@media(max-width:768px) {
  .carousel-fixed-item {
    margin-bottom: 40%;
  }

  .caption-main {
    margin-top: 20% !important;
  }
}


.img-filter {
  filter: grayscale(20%);
  -webkit-filter: grayscale(20%);
  transition:filter 0.4s;
  -webkit-transition:-webkit-filter 1s;
}
.carousel.carousel-slider .carousel-item h2{
  z-index: 2;
}


/*footer*/
.page-footer ul li {
  float: left;
  margin-left: 20px;
  margin-right: 30px;
}
.social-logos{
  width: 30px;
}
