/* stylelint-disable rscss/no-descendant-combinator, rscss/class-format */
html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: $color-white;
}

body,
h1,
h2,
h3 {
  font-weight: 300;
}

.navbar-nav span[role=button] {
  padding: 15px;
  display: inline-block;
  line-height: 20px;
}

.carousel-caption {
  background-color: rgba($color-black, 0.55);
  border-radius: 10px;
  left: 10%;
  right: 10%;
  bottom: 45%;
}

.title-navbar {
  font-size: 41px;
}

.img {
  width: 100%;
}

.fb-logo {
  width: 50px;
  margin-bottom: 10px;
}

.tw-logo {
  width: 50px;
  margin-bottom: 10px;
}

.carousel-inner video {
  object-fit: cover;
}
/* stylelint-enable */
