._text-bold { font-weight: bold; }
._text-light { font-weight: 300; }
._text-danger { color: $color-thunderbird; }
._text-white { color: $color-white !important; }

._unmargin { margin: 0; }
._mt-50 { margin-top: 50px; }
._mtb-5 { margin: 5px 0; }
._mtb-10 { margin: 10px 0; }

._bg-primary { background-color: $color-boston-blue; }

._img-width { width: 100%; }
